/build
/bin
/CMakeLists.txt.user
/.kdev4
/strawberry.kdev4
/.vscode
/.code-workspace
/.sublime-workspace
/.idea
/.vs
/out
/CMakeSettings.json
/dist/scripts/maketarball.sh
/debian/changelog
/commands_to_add.txt
/chat_init_ai.txt
